<h1> Examen de liverpool</h1>

<input type="text" placeholder="Buscar..." #textoBusqueda [(ngModel)]="textoBusquedaName" (keyup.enter)="buscar(textoBusqueda.value); guardarCriterios(textoBusqueda.value)" autofocus />
<button (click)="buscar(textoBusqueda.value); guardarCriterios(textoBusqueda.value)">Buscar</button>
<br /><br />

<!-- Muestra lista de criterios -->
<div *ngIf="listaCriterios != ''">
  <h1>Lista de criterios usados</h1>
  <span *ngFor='let lista of listaCriterios '>
      <a href="javascript:;" (click)="seleccionarCriterio(lista)">{{ lista }}</a> 
  </span>
</div>
<!-- Muestra lista de criterios -->

<!-- Muestra solo si el criterio de búsqueda viene lleno -->
<div *ngIf="textoBusqueda.value != ''">
  <h2>Resultado de la busqueda</h2>
  <div>
    <div>
      <b>Palabra buscada:</b> {{ textoBusqueda.value }} <br /><br />
      <b>Resultados:</b>

<!-- Itera el resultado obtenido -->  
<span *ngFor='let item of resultados '>
  <span *ngFor="let v of item.mainContent"> 
    <span *ngFor="let y of v.contents"> 
      <span *ngFor="let z of y.records"> 
            
        <div *ngIf="z.attributes['product.description']">
          <b> Título : </b> {{ z.attributes['product.displayName'] }}  <br />
          <b> Precio regular: </b> $ {{ z.attributes['sku.list_Price'] | myCurrency }} pesos  <br />
          <b> Precio rebajado: </b> $ {{ z.attributes['maximumPromoPrice'] | myCurrency }} pesos <br />
          
          <img src="{{ z.attributes['sku.thumbnailImage'] }} " width="100" />  <br />
        </div>

      </span>
    </span>
  </span>
</span>
<!-- Termina - Itera el resultado obtenido -->  

    </div>
  </div>

</div>
<!-- Termina - Muestra solo si el criterio de búsqueda viene lleno -->